[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/doks-child-theme"]
	path = themes/doks-child-theme
	url = https://github.com/h-enk/doks-child-theme.git
